@keyframes shine {
    0% {
      left: -100px;
    }
    60%, 100% {
      left: 100%;
    }
  }
  


  html,body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  }

  /* Scrollbar hidden by default */
.scrollbar-hidden::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

/* Scrollbar visible on hover */
.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Optional smooth transition */
.scrollbar-hidden::-webkit-scrollbar-thumb,
.scrollbar-visible::-webkit-scrollbar-thumb {
  transition: background-color 0.3s;
}
